/*
Theme Name: 	Splotbox
Theme URI: 		http://github.com/cogdog/splotbox
Description: 	SPLOT Media Collector (Child of Garfunkel)
Version: 		0.4
Template:       garfunkel
Author: 		CogDog
Author URI: 	http://cog.dog/
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0

*/

/* show the info tab first */

.post-meta-tabs .tab-comments { display: none; }
.post-meta-tabs .tab-post-meta { display: block; }

/* full player */
.audio-player {
    width: 100%;
	padding: 4em 0 0;
	background-color: #282828;
}


.blog-description {
	font-weight: 800;
	color: #FFF;
}



/* media uploader */
.upload-instructions, .max-upload-size {
    text-align: center;
}

.post-info-items, .post-content {
	word-wrap: break-word;
}


.single .post-meta p.post-download { background-image: url(images/icons/1x/download-g.png); }
.single .post-meta p.post-download:hover { background-image: url(images/icons/1x/download-c.png); }

.post-excerpt p.sharedby {
	font-size: 0.75em;
	margin: 0;
	line-height: 1.0em;
}

/* some pretty buttons all done in CSS
   h/t http://www.graemeboy.com/modern-css-buttons */
   
    .pretty-button, .post-content input.pretty-button {
    
		padding: 12px 16px;
		margin: 0;
		border: none;
		color: #fff;
		font-size: 0.9rem;
		line-height: 1;
		-webkit-appearance: none;
		border-radius: 3px;  
    	font-family: 'Fira Sans', sans-serif;
        text-decoration: none;
        text-align: center;
        display: inline-block      
    }
    
    /* user actions on the buttons. */
    .pretty-button:hover, .post-content input.pretty-button:hover {
        text-decoration: none;
        color: #ffffff
    }
    .pretty-button:active, .post-content input.pretty-button:active {
        -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
        -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03);
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.03), inset 0px -1px 1px rgba(255, 255, 255, 0.05), 0px 1px 0px #777777, 0px 3px 3px rgba(0, 0, 0, 0.03)
    }
        
    /* The next blocks of code are specific to the color. Copy the color you want. */
     
    .pretty-button-gray, .post-content input.pretty-button-gray {
        background: #333;
    }

    a.pretty-button-gray:hover, .post-content input.pretty-button-gray:hover {
        background: #ca2017;
        text-decoration: none;
    }


a.download-link {
	padding-right: 40px;
	background-image: url(images/icons/1x/download-g.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}

a.download-link:hover { 
	padding-right: 40px;
	background-image: url(images/icons/1x/download-c.png); 
	background-repeat: no-repeat;
	background-position: 95% center;
}

   

/* alert/message boxes 100% CSS
   h/t http://aviaryan.github.io/blog/css-notification-bubble-box.html */

.symbol {
    font-size: 0.9em;
    font-family: Times New Roman;
    border-radius: 1em;
    padding: .1em .6em .1em .6em;
    font-weight: bolder;
    color: white;
    background-color: #3229CF;
}

.icon-info { background-color: #3229CF; }
.icon-error { background: #e64943; font-family: Consolas; }
.icon-tick { background: #13c823; }
.icon-excl { background: #ffd54b; color: black; }
.icon-info:before { content: 'i'; }
.icon-error:before { content: 'x'; }
.icon-tick:before { content: '\002713'; }
.icon-excl:before { content: '!'; }

.notify {
    background-color:#e3f7fc; 
    color:#555; 
    border:.1em solid;
    border-color: #8ed9f6;
    border-radius:10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	font-weight: 700;
    padding:10px 10px 10px 10px;
    margin:10px;
    cursor: default;
}

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }

#splotboxform .uploader {
	float:left;
	margin: 0 1.3em 1.3em 0;
}

#splotboxform label {
	font-size: 1.2em;
	display: block;
	margin-top: 1em;	
}

#splotboxform .required, .notify .required  {
	font-weight: bold;
	color: #ca2017;
}

#splotboxform .sublabel {
	font-size: 0.9em;
	margin-bottom: 1em;
}

#splotboxform p {
    font-size: 0.9em;
    line-height: 110%;
}